@import "./typography.css";
@import "~bootstrap/scss/bootstrap";

$pink: #823266;
// for colorblind devs:
// $pink: #b11d7d;
$verylightgrey: rgb(242, 242, 242);
$verydarkgrey: rgb(80, 80, 80);

html {
  font-size: 14px;
  background-color: $verylightgrey;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  background: none !important;
}

img {
  border-radius: 4px;
}

.image-caption {
  font-size: 0.7rem;
}

.main {
  border-radius: 4px;
  min-height: 80vh;
  background-color: white;
  background: linear-gradient(rgba(white, 0.3) 0%, white 200px, white 100%);
  @media screen and (max-width: 768px) {
    background: linear-gradient(rgba(white, 0.1) 0%, white 50vh, white 100%);
  }
  @media screen and (min-width: 576px) {
    border: 1px solid $verydarkgrey;
  }
}

* {
  font-family: Verdana, sans-serif;
  color: $verydarkgrey;
}

a {
  color: $pink !important;
  text-decoration: none;
}

h1, h2, h3, h4, h5, .navbar {
  font-family: TypeWritersSubstitute, "Courier", sans-serif;
  * {
    font-family: TypeWritersSubstitute, "Courier", sans-serif;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 15px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

.navbar {
  a {
    text-decoration: none;
  }
  .navbar-nav a {
    font-size: 1.2rem;
  }
  .navbar-brand {
    img {
      float: left;
      width: 260px;
      margin-right: 0.7rem;
    }
  }
  .navbar-toggler {
    position: absolute;
    font-size: 2rem;
    top: 1.5rem;
    right: 0;
    border: none !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

.sidenav {
  a > * {
    color: $pink;
  }
  a.active {
    * { opacity: 0.5; }
    cursor: default;
  }
}
.close-button {
  display: block;
  button {
    float: right;
    font-size: 1.5rem !important;
  }
}

.post-preview {
  a {
    text-decoration: none;
  }
  .small-teaser-font {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}

.welcome {
  h1, h2, h3, h4, h5 { margin-top: 0.5rem !important; }
  padding: 1rem;
  border-bottom: 1px solid $verydarkgrey;
}

.content {
  p { font-size: 1.1rem }
  h1, h2 { margin-top: 2.5rem }
}

.page-header {
  font-size: 4rem;
}
